/* GOOGLE FONTS */
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;700&family=Fraunces:opsz,wght@9..144,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Barlow', sans-serif;
}



/* MOBILE */

.collection-container {
    border-bottom: 2px solid red;
    text-align: center;
    display: relative;
    margin: 0 165px 200px;
 
}

.collection-container h1 {
    text-transform: lowercase;
    text-align: center;
    font-size: 9vw;
    background-image:linear-gradient(0deg, rgba(242,242,242,1) 43%, rgba(131,136,143,1) 97%);
    -webkit-background-clip: text;
    color: transparent;
}

.collection-container h2 {
    font-family: 'Fraunces', serif;
    font-size: 1.5rem;
    color: #333D4B;
    padding-bottom: 1rem;
}

.collection-container img {
    width: 200px;
    margin: 0 auto;
}

.collection-content {
    padding: 1rem;


}

/* TABLET */

@media screen and (min-width: 750px) {
    .collection-content {
        display: flex;
        /* border: 2px solid blue; */
        text-align: left;
    }

}



/* DESKTOP */

@media screen and (min-width: 1150px) {

  .collection-container {
    margin: 0 6.31rem 12.5rem;
}

.collection-container img {
    width: 14.4vw;
}

.collection-container h1 {
    font-size: 10.5vw;
}

.collection-container h2 {
    font-size: 1.6vw;
}

.collection-container p {
    font-size: 1.06vw;
}
.collection-item-container {
    /* border: 2px solid purple; */
    display: flex;
    flex-direction: row;
    margin: -7% 5% 0;
    justify-content: center;
}

.collection-content {
    flex-direction: column;
    text-align: center;
}






}





/* PICK UP WHERE YOU LEFT OFF: SIZING COLUMNS FOR TABLET SCREEN */