/* GOOGLE FONTS */
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;700&family=Fraunces:opsz,wght@9..144,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Barlow', sans-serif;
}

h1 {
    font-family: 'Fraunces', serif;
    font-size: 2.5rem;
}

p {
    font-size: 0.94rem;
    font-weight: 400;
    line-height: 1.7;
}

button {
    font-family: 'Fraunces', serif;
    font-size: 1.125rem;
}


/* MOBILE */

.header-container {
    /* border: 2px solid red; */
    display: flex;
    margin-bottom: 7.5rem;
}

.header-content {
    text-align: center;
    padding: 100px 24px;
    background-image: url(../images/mobile/image-hero-coffeepress.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    margin: 0 24px;
    border-radius: 10px;
}

.header-txt {
    padding-right: 0;
}

.header-content h1 {
    margin-bottom: 24px;
    color: #fff;
    padding-right: 0;
    line-height: 1.1;
}

.header-content p {
    margin-bottom: 39px;
    color: #fff;
    padding-right: 0;
}

button {
    border: none;
    background-color: #0E8784;
    color: #fff;
    padding: 1rem 1.9rem;
    border-radius: 6px;
}

button:hover {
    background-color: #66D2CF;
}

/* TABLET */

@media screen and (min-width: 750px) {
    .header-container {
        border-bottom: 2px solid blue;
    }

    .header-content {
        text-align: left;
        background-image: url(../images/tablet/image-hero-coffeepress.jpg);
        margin: 0 40px;
        height: 31.25rem;
    }

    .header-txt {
        margin-left: 58px;
        width: 59%;
    }

    .header-content h1 {
        font-size: 5.5vw;
        padding-right: 16%
    }

    .header-content p {
padding-right: 15%;
    }

}

/* DESKTOP */


@media screen and (min-width: 1000px) {
    .header-container {
        border-bottom: 2px solid green;
        padding: 0;
    }
    .header-content {
        text-align: left;
        background-image: url(../images/desktop/image-hero-coffeepress.jpg);
        margin: 0 80px;
        width: 100%;
        height: 37.5rem;
    }

    .header-txt {
        width: 50%;
        margin-left: 7%;
        padding-right: 0;
    }

    .header-content p {
        font-size: 1rem;
        padding-bottom: 1rem;
    }
}