@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Barlow', sans-serif;
}

/* MOBILE */










/* DESKTOP & TABLET */

@media screen and (min-width: 750px){
}
